/* Base Styles -------------------- */


html {
  font-size: 10px;
}
body {
  color: #373737;
  font-size: 1.6rem;
  font-weight: 300;
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
}

header {
  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
  }
}

.container {
  max-width: 1390px !important;

  @include media-breakpoint-up(sm) {
    padding: 0 60px;
  }
}

section {
  padding: 1rem 0;
}

a {
  color: #373737;
  transition: 0.3s
}
a:hover {
  color: #373737;
  text-decoration: none;
}


h1 {
  font-weight: 600;
  font-size: 3.6rem;
  @include media-breakpoint-down(sm) {
    font-size: 2.4rem;
  }
}
h2 {
  font-weight: 600;
  font-size: 3rem;
  @include media-breakpoint-down(sm) {
    font-size: 2.4rem;
  }
}
h3 {
  font-weight: 600;
  font-size: 2.4rem;
  @include media-breakpoint-down(sm) {
    font-size: 2rem;
  }
}

.clr-white {
  color: #fff;
}

.fw-light {
  font-weight: 300;
}
.fw-normal {
  font-weight: normal;
}
.fw-semi-bold {
  font-weight: 500;
}
.fw-bold {
  font-weight: 700;
}

.heading-23 {
  font-size: 20px;
  padding-left: 25px;
}

/* Slick Arrow */

.next-arrow, .prev-arrow {
  top: 50%;
  height: 22px;
  width: 22px;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
  @include media-breakpoint-down(md) {
    height: 16px;
    width: 16px;
  }
  @include media-breakpoint-down(xs) {
    display: none !important;
  }
}
.next-arrow {
  right: -20px;
}
.prev-arrow {
  left: -20px;
  transform: translateY(-50%) rotate(180deg);
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;
    left: 0;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 16px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 8px;
    height: 8px;

    content: '■';

    text-align: center;

    opacity: .75;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include media-breakpoint-down(sm) {
      content: '•';
      color: #003E93;
    }
}
.slick-dots li.slick-active button:before
{
    color: #FF9600;
    @include media-breakpoint-down(sm) {
      color: #003E93;
    }
}


/* BUTTONS */

.btn {
  width: 30rem;
  border-radius: 5px;
}

.btn-buy, .btn-compare {
  width: 28px;
  height: 28px;
  position: relative;
  img {
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  &::after {
    color: #fff;
    padding: 0 5px;
    width: 127px;
    height: 40px;
    display: none;
    font-size: 12px;
    position: absolute;
    border-radius: 5px;
    background-color: #FF9600;
  }
  &::before {
    top: -8px;
    left: 50%;
    content: '';
    display: none;
    transform: translateX(-50%);
    position: absolute;

    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #FF9600;
  }
  &:hover {
    &::after, &::before {
      display: block;
    }
  }

  @include media-breakpoint-down(sm) {
    width: 21px;
    height: 21px;
    img {
      width: 70%;
    }
  }
}

.btn-buy {
  background-color: #808080;

  &.active {
    background-color: #FF9600;
    &::after {
      line-height: 4rem;
      content: 'Убрать из корзины';
    }
  }

  &::after {
    right: 0;
    top: -48px;
    z-index: 10;
    line-height: 4rem;
    content: 'Добавить в корзину';
  }
}

.btn-compare {
  background-color: #808080;
  &.active {
    background-color: #FF9600;
    &::after {
      line-height: 4rem;
      content: 'Убрать из списка';
    }
  }
  &::after {
    left: 50%;
    top: -48px;
    z-index: 10;
    white-space: pre;
    transform: translateX(-50%);
    content: 'Добавить в список \A и сравнить';
  }
}

.btn-blue, .btn-gray {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  background-color: #003E93;
}

.btn-gray {
  color: #000;
  background: #dddddd;
}

.btn-green {
  border: 0;
  color: #fff;
  width: 100%;
  height: 48px;
  font-size: 18px;
  border-radius: 0;
  background-color: #00BE13;
  @include media-breakpoint-down(xs) {
    height: 35px;
    font-size: 13px;
  }
}

.btn-green-transparent {
  width: 100%;
  height: 52px;
  color: #00BE13;
  font-size: 17px;
  border-radius: 0;
  background-color: transparent;
  border: 1px solid #00BE13;
  @include media-breakpoint-down(xs) {
    height: 35px;
    font-size: 13px;
  }
}

.btn-product-blue, .btn-product-orange, .btn-product-green {
  border: 0;
  color: #fff;
  height: 40px;
  width: 100%;
  font-size: 16px;
  border-radius: 0;
  max-width: 370px;
  border-bottom: 5px solid;

  @include media-breakpoint-down(xs) {
    height: 30px;
    font-size: 12px;
    max-width: 250px;
    margin-bottom: 15px;
  }
}

.btn-product-orange {
  border-color: #E68800;
  background-color: #FF9600;

  &.active {
    border-color: #2aadc4;
    background-color: #2ccede;
  }
}
.btn-product-green {
  border-color: #00AA11;
  background-color: #00BE13;
}
.btn-product-blue {
  border-color: #00357E;
  background-color: #003E93;
}

.btn-pm {
  padding: 0;
  width: 24px;
  height: 24px;
  color: #707070;
  font-size: 20px;
  line-height: 0;
  border-radius: 50%;
  border: 1px solid #707070;
  background-color: transparent;
  @include media-breakpoint-down(xs) {
    width: 19px;
    height: 19px;
    font-size: 16px;
  }
}

.btn-cart-delete {
  border: 0;
  color: #fff;
  width: 85px;
  height: 18px;
  line-height: 0;
  font-size: 13px;
  border-radius: 200px;
  background-color: #656565;
  @include media-breakpoint-down(xs) {
    width: 69px;
    height: 14px;
    font-size: 11px;
    background-color: #FF9600;
  }
}

.btn-orange-transparent {
  height: 30px;
  max-width: 280px;
  color: #ff9600;
  margin: 0 auto;
  display: block;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #ff9600;
}

input, textarea, select {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  font-size: 17px;
  border-radius: 3px;
  margin-bottom: 30px;
  border: 1px solid #656565;

  @include media-breakpoint-down(xs) {
    height: 35px;
    font-size: 12px;
    margin-bottom: 15px;
  }
}

select {
  appearance: none;
  padding-right: 3rem;
  background-size: 0.6rem;
  background-repeat: no-repeat;
  background-position: center right 1.5rem;
  background-image: url("../img/arrow-down-2.svg");
}


textarea {
  height: 70px;
  padding: 10px 15px;
  margin-bottom: 20px;

  @include media-breakpoint-down(xs) {
    margin-bottom: 5px;
  }
}

.checkbox-label {
  cursor: pointer;
  padding-left: 3rem;
  position: relative;

  span {
    font-size: 12px;
    color: #CCDAC1;
  }

  input {
    opacity: 0;
    width: auto;
    cursor: pointer;
    position: absolute;

    &:checked ~ .checkmark:after {
      display: block;
    }
  }

  .checkmark {
      left: 0;
      top: 50%;
      width: 18px;
      height: 18px;
      position: absolute;
      border-radius: 3px;
      background-color: #fff;
      transform: translateY(-50%);
      border: 1px solid #8B8B8B;
    }

  .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    content: "";
    height: 10px;
    display: none;
    position: absolute;
    border: solid #FF9600;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

}


.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 16px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #ffffff;
    border: 1px solid #888888;
}
.control-radio .control_indicator {
    border-radius: 50%;
}

.control input:checked ~ .control_indicator {
    background: #ffffff;
}

.control input:checked ~ .control_indicator {
    background: #ffffff;
    border-color: $orange;
}

.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-radio .control_indicator:after {
    left: 4px;
    top: 4px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #ec6e02;
}
.control-radio input:disabled ~ .control_indicator:after {
    background: #7b7b7b;
}

.dropdown-menu {
  z-index: 900;
  font-size: 17px;
  border: 0 !important;
  border-radius: 0 !important;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);

  a:active {
    color: #373737;
    background-color: #e1e1e1;
  }

  @include media-breakpoint-down(xs) {
    font-size: 10px;
  }
}


.ui-rangeslider .ui-rangeslider-sliders {
    position: relative;
    overflow: visible;
    height: 30px;
    margin: 0 68px;
}

.ui-slider-track .ui-button.ui-slider-handle {
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 28px;
    height: 28px;
    outline: 0;
    padding: 0;
    border-radius: 0;
    border: 0 !important;
    margin: 0 !important;
    margin: -15px 0 0 -15px;
    width: 11px !important;
    height: 11px !important;
    margin-left: -5px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -webkit-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    background-color: #ff9600 !important;
}

.ui-slider-track .ui-slider-bg {
    height: 100%;
}

.ui-slider-track {
  height: 6px !important;
  border: 0 !important;
}
.ui-rangeslider .ui-rangeslider-sliders .ui-slider-track {
  width: 100%;
  position: absolute;
  border-radius: 0 !important;
  background-color: #e4e4e4 !important;
}


.ui-slider-track .ui-button.ui-slider-handle {
  transition: none !important;
  width: 11px !important;
  height: 11px !important;
  border-radius: 0;
  box-shadow: none !important;  
  transform: translateY(-50%) !important;
  margin: 0 !important;
  margin-left: -5px !important;
  border: 0 !important;
  background-color: #ff9600 !important;
}

.ui-page-theme-a .ui-button.ui-button-active, html .ui-bar-a .ui-button.ui-button-active, html .ui-body-a .ui-button.ui-button-active, html body .ui-group-theme-a .ui-button.ui-button-active, html head+body .ui-button.ui-button-a.ui-button-active, .ui-page-theme-a .ui-checkboxradio-checked .ui-icon, html .ui-bar-a .ui-checkboxradio-checked .ui-icon, html .ui-body-a .ui-checkboxradio-checked .ui-icon, html body .ui-group-theme-a .ui-checkboxradio-checked .ui-icon, .ui-button-a.ui-checkboxradio-checked.ui-button .ui-icon, .ui-page-theme-a .ui-controlgroup-horizontal .ui-checkboxradio-checked, html .ui-bar-a .ui-controlgroup-horizontal .ui-checkboxradio-checked, html .ui-body-a .ui-controlgroup-horizontal .ui-checkboxradio-checked, html body .ui-group-theme-a .ui-controlgroup-horizontal .ui-checkboxradio-checked, html body .ui-group-theme-a.ui-controlgroup-horizontal .ui-checkboxradio-checked, .ui-controlgroup-horizontal .ui-button.ui-button-a.ui-checkboxradio-checked, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-button-active, html .ui-bar-a .ui-slider-track .ui-button-active, html .ui-body-a .ui-slider-track .ui-button-active, html body .ui-group-theme-a .ui-slider-track .ui-button-active, html body div.ui-slider-track.ui-body-a .ui-button-active, .ui-page-theme-a .ui-accordion-header-active, .ui-page-theme-a .ui-accordion-header.ui-state-active, html .ui-body-a .ui-accordion-header-active, html .ui-body-a .ui-accordion-header.ui-state-active {
  background-color: #ff9600 !important;
  border-color: #ff9600 !important;
  color: #fff;
  text-shadow: 0 1px 0 #059;  
}

.ui-rangeslider .ui-rangeslider-sliders {
    width: calc(100% - 10px);
    position: relative;
    overflow: visible;
    height: 15px;
    margin: 30px auto 0;
}

.ui-textinput {
  width: 100%;
}

.ui-loader {
  display: none;
}


input[type="range"]:focus {
  outline: none !important;
}

input[type=range] {
  border: 0;
  -webkit-appearance: none;
  width: 100%;
  margin: 3px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #aaa;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 11px;
  width: 11px;
  border-radius: 0px;
  background: #ff9600;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.2px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffbc5c;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #ff9600;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 11px;
  width: 11px;
  border-radius: 0px;
  background: #ff9600;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #a36000;
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #ff9600;
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 11px;
  width: 11px;
  border-radius: 0px;
  background: #ff9600;
  cursor: pointer;
  height: 5px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ff9600;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffbc5c;
}


/* The container */
.checkbox-label {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 5px;
    border: 1px solid #CCDAC1;
    background-color: #fff;
}

/* On mouse-over, add a grey background color */
.checkbox-label:hover input ~ .checkmark {
    background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.checkbox-label input:checked ~ .checkmark {
    border-color: #FF9600;
    background-color: #FF9600;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-label input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-label .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@include media-breakpoint-down(xs) {
  .checkbox-label {
    font-size: 11px;
    padding-left: 25px;
  }
  .checkbox-label .checkmark {
    height: 16px;
    width: 16px;
  }
  .checkbox-label .checkmark:after {
    top: 1px;
    left: 4.5px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.product-state {
  top: 10px;
  left: 10px;
  color: #fff;
  font-size: 13px;
  padding: 2px 8px;
  position: absolute;
  background-color: #ff3d00;

  &.state-latest {
    background-color: #ff9600;
  }
  &.state-sale {
    background-color: #ff3d00;
  }
  &.state-bestseller {
    background-color: #00b1ff;
  }
}


/* Quick Order */

.popup-quick-order {
  border: 0;
  display: block;
  background-color: #003E93;
  border-radius: 5px;
  &:hover {
    color: #fff;
  }
}

.white-popup-block {

  padding: 45px 30px;
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  background-color: #fff;

  img {
    width: 100px;
    display: block;
    margin: 0 auto 40px;
  }

  fieldset {
    max-width: 400px;
    margin: 0 auto;
  }

  input {
    height: 45px;
  }

  .btn-green {
    height: 45px;
    margin: 0 auto;
    display: block;
    font-size: 18px;
    max-width: 350px;
  }
}

.slick-slide {
  outline: none !important;

  a {
    outline: none !important;    
  }
}


/* Font Sizes */

.fs-16 {
  font-size: 14px;
}
.fs-21 {
  font-size: 17px;
}
.fs-22 {
  font-size: 18px;
}
.fs-23 {
  font-size: 20px;
}


@include media-breakpoint-down(xs) {
  .fs-16 {
    font-size: 12px;
  }
  .fs-21{
    font-size: 12px;
  }
  .fs-22 {
    font-size: 13px;
  }
  .fs-23 {
    font-size: 13px;
  }

  .white-popup-block {
    padding: 25px 15px;
  }
}
